@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: $color-white;
  height: 75vh;

  @include respond(tab-port) {
    height: 90vh;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
  }

  &__screen {
    display: grid;
    grid-template-rows: 1fr auto;
    min-width: 400px;
    max-width: 500px;
    padding: $spacing-xl;

    @include respond(tab-port) {
      height: 100%;
      width: 100%;
      min-width: inherit;
      max-width: inherit;
      padding: $spacing-xl;
      box-sizing: border-box;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__footer {
    padding-top: $spacing-xl;
    padding-bottom: $spacing-xl;
  }
}
